<div class="alert alert-info fade in" *ngIf="!isAutenticate()">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a> {{ 'LeftBar_YouAreNotAuthorize' | translate:lang
    }}
</div>
<div *ngIf="isAutenticate()" class="well">
    <p>
        <a [routerLink]="['/home/profile']">{{ 'Menu_MyAccount_Link' | translate:lang  }}</a>
        <img src="content/images/male-1.png" class="img-circle" height="65" width="65" alt="Avatar">
    </p>
</div>
<div class="well">
    <p><a href="#">Interests</a></p>
    <p>
        <span style="cursor: pointer;" class="label label-default">News</span>
        <span style="cursor: pointer;" class="label label-primary">W3Schools</span>
        <span style="cursor: pointer;" class="label label-success">Labels</span>
        <span style="cursor: pointer;" class="label label-info">Football</span>
        <span style="cursor: pointer;" class="label label-warning">Gaming</span>
        <span style="cursor: pointer;" class="label label-danger">Friends</span>
    </p>
</div>
<div class="alert alert-success fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p><strong>Ey!</strong></p>
    People are looking at your profile. Find out who.
</div>
<p><a href="#">Link 1</a></p>
<p><a href="#">Link 2</a></p>
<p><a href="#">Link 3</a></p>