InTravels.DAL/obj/Debug/InTravels.DAL.pdb
InTravels.BLL/bin/Debug
InTravels.BLL/obj/Debug
InTravels.DAL/bin/Debug
InTravels.DAL/obj/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
packages
InTravels.Tests/obj/Debug
InTravels.Tests/bin/Debug
InTravels/obj/Debug/
InTravels/obj/Debug/
InTravels.Tests/bin/Debug/
InTravels.Tests/bin/Debug/InTravels.dll
InTravels.Tests/bin/Debug/InTravels.pdb
InTravels.Tests/bin/Debug/InTravels.Tests.dll
InTravels.Tests/bin/Debug/InTravels.Tests.pdb
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
InTravels.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InTravels.Tests/obj/Debug/InTravels.Tests.csproj.FileListAbsolute.txt
InTravels.Tests/obj/Debug/InTravels.Tests.csprojResolveAssemblyReference.cache
InTravels.Tests/obj/Debug/InTravels.Tests.dll
InTravels.Tests/obj/Debug/InTravels.Tests.pdb
InTravels.Tests/bin/Debug/InTravels.dll
InTravels.Tests/bin/Debug/InTravels.pdb
InTravels.Tests/bin/Debug/InTravels.Tests.dll
InTravels.Tests/bin/Debug/InTravels.Tests.pdb
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
InTravels.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
InTravels.Tests/obj/Debug/InTravels.Tests.csproj.FileListAbsolute.txt
InTravels.Tests/obj/Debug/InTravels.Tests.csprojResolveAssemblyReference.cache
InTravels.Tests/obj/Debug/InTravels.Tests.dll
InTravels.Tests/obj/Debug/InTravels.Tests.pdb
InTravels/obj/Debug/InTravels.pdb
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
