InTravels.DAL/obj/Debug/InTravels.DAL.pdb
InTravels.BLL/bin/Debug
InTravels.BLL/obj/Debug
InTravels.DAL/bin/Debug
InTravels.DAL/obj/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
packages
InTravels.Tests/obj/Debug
InTravels.Tests/bin/Debug
InTravels/obj/Debug/
InTravels/obj/Debug/
InTravels.Tests/*.*
InTravels/obj/Debug/InTravels.pdb
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
.vs/InTravels/v14/.suo
InTravels/obj/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/obj/Debug
InTravels/*.dll
InTravels/*.xml
InTravels/*.pdb
InTravels/App_Data/*.pdb
InTravels/App_Data/*.dll
InTravels/App_Data/*.xml
InTravels.Tests/bin/Debug/*.dll
InTravels.Tests/bin/Debug/*.xml
InTravels.Tests/bin/Debug/*.pdb
