InTravels.DAL/obj/Debug/InTravels.DAL.pdb
InTravels.BLL/bin/Debug
InTravels.BLL/obj/Debug
InTravels.DAL/bin/Debug
InTravels.DAL/obj/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/bin/Debug
packages
InTravels.Tests/obj/Debug
InTravels.Tests/bin/Debug
InTravels/obj/Debug/
InTravels/obj/Debug/
InTravels.Tests/*.*
InTravels/obj/Debug/InTravels.pdb
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
InTravels.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
.vs/InTravels/v14/.suo
InTravels/obj/Debug
InTravels.Tests/bin/Debug
InTravels.Tests/obj/Debug
InTravels/*.dll
InTravels/*.xml
InTravels/*.pdb
InTravels/App_Data/*.pdb
InTravels/App_Data/*.dll
InTravels/App_Data/*.xml
InTravels.Tests/bin/Debug/*.dll
InTravels.Tests/bin/Debug/*.xml
InTravels.Tests/bin/Debug/*.pdb
InTravels.WebAPI/bin/Antlr3.Runtime.dll
InTravels.WebAPI/bin/Antlr3.Runtime.pdb
InTravels.WebAPI/bin/ApplicationInsights.config
InTravels.WebAPI/bin/AutoMapper.dll
InTravels.WebAPI/bin/AutoMapper.xml
InTravels.WebAPI/bin/EntityFramework.dll
InTravels.WebAPI/bin/EntityFramework.SqlServer.dll
InTravels.WebAPI/bin/EntityFramework.SqlServer.xml
InTravels.WebAPI/bin/EntityFramework.xml
InTravels.WebAPI/bin/InTravels.BLL.dll
InTravels.WebAPI/bin/InTravels.BLL.pdb
InTravels.WebAPI/bin/InTravels.DAL.dll
InTravels.WebAPI/bin/InTravels.DAL.pdb
InTravels.WebAPI/bin/InTravels.WebAPI.dll
InTravels.WebAPI/bin/InTravels.WebAPI.dll.config
InTravels.WebAPI/bin/InTravels.WebAPI.pdb
InTravels.WebAPI/bin/Localization.Designer.cs
InTravels.WebAPI/bin/Localization.dll
InTravels.WebAPI/bin/Localization.pdb
InTravels.WebAPI/bin/Localization.resx
InTravels.WebAPI/bin/Localization.ru.Designer.cs
InTravels.WebAPI/bin/Localization.ru.resx
InTravels.WebAPI/bin/Localization.uk-UA.Designer.cs
InTravels.WebAPI/bin/Localization.uk-UA.resx
InTravels.WebAPI/bin/Microsoft.AI.Agent.Intercept.dll
InTravels.WebAPI/bin/Microsoft.AI.DependencyCollector.dll
InTravels.WebAPI/bin/Microsoft.AI.DependencyCollector.xml
InTravels.WebAPI/bin/Microsoft.AI.PerfCounterCollector.dll
InTravels.WebAPI/bin/Microsoft.AI.ServerTelemetryChannel.dll
InTravels.WebAPI/bin/Microsoft.AI.ServerTelemetryChannel.xml
InTravels.WebAPI/bin/Microsoft.AI.Web.dll
InTravels.WebAPI/bin/Microsoft.AI.Web.xml
InTravels.WebAPI/bin/Microsoft.AI.WindowsServer.dll
InTravels.WebAPI/bin/Microsoft.AI.WindowsServer.xml
InTravels.WebAPI/bin/Microsoft.ApplicationInsights.dll
InTravels.WebAPI/bin/Microsoft.ApplicationInsights.xml
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.Core.dll
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.Core.xml
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.EntityFramework.dll
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.EntityFramework.xml
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.Owin.dll
InTravels.WebAPI/bin/Microsoft.AspNet.Identity.Owin.xml
InTravels.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
InTravels.WebAPI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
InTravels.WebAPI/bin/Microsoft.Owin.dll
InTravels.WebAPI/bin/Microsoft.Owin.Host.SystemWeb.dll
InTravels.WebAPI/bin/Microsoft.Owin.Host.SystemWeb.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.Cookies.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.Cookies.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.Facebook.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.Facebook.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.Google.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.Google.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.MicrosoftAccount.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.OAuth.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.OAuth.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.Twitter.dll
InTravels.WebAPI/bin/Microsoft.Owin.Security.Twitter.xml
InTravels.WebAPI/bin/Microsoft.Owin.Security.xml
InTravels.WebAPI/bin/Microsoft.Owin.xml
InTravels.WebAPI/bin/Microsoft.Web.Infrastructure.dll
InTravels.WebAPI/bin/Newtonsoft.Json.dll
InTravels.WebAPI/bin/Newtonsoft.Json.xml
InTravels.WebAPI/bin/Ninject.dll
InTravels.WebAPI/bin/Ninject.Extensions.ContextPreservation.dll
InTravels.WebAPI/bin/Ninject.Extensions.ContextPreservation.xml
InTravels.WebAPI/bin/Ninject.Extensions.NamedScope.dll
InTravels.WebAPI/bin/Ninject.Extensions.NamedScope.xml
InTravels.WebAPI/bin/Ninject.Web.Common.dll
InTravels.WebAPI/bin/Ninject.Web.Common.OwinHost.dll
InTravels.WebAPI/bin/Ninject.Web.Common.OwinHost.xml
InTravels.WebAPI/bin/Ninject.Web.Common.xml
InTravels.WebAPI/bin/Ninject.Web.WebApi.dll
InTravels.WebAPI/bin/Ninject.Web.WebApi.OwinHost.dll
InTravels.WebAPI/bin/Ninject.Web.WebApi.OwinHost.xml
InTravels.WebAPI/bin/Ninject.Web.WebApi.WebHost.dll
InTravels.WebAPI/bin/Ninject.Web.WebApi.WebHost.xml
InTravels.WebAPI/bin/Ninject.Web.WebApi.xml
InTravels.WebAPI/bin/Ninject.xml
InTravels.WebAPI/bin/Owin.dll
InTravels.WebAPI/bin/roslyn/csc.exe
InTravels.WebAPI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
InTravels.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
InTravels.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.dll
InTravels.WebAPI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
InTravels.WebAPI/bin/roslyn/Microsoft.CSharp.Core.targets
InTravels.WebAPI/bin/roslyn/Microsoft.VisualBasic.Core.targets
InTravels.WebAPI/bin/roslyn/System.Collections.Immutable.dll
InTravels.WebAPI/bin/roslyn/System.Reflection.Metadata.dll
InTravels.WebAPI/bin/roslyn/vbc.exe
InTravels.WebAPI/bin/roslyn/VBCSCompiler.exe
InTravels.WebAPI/bin/roslyn/VBCSCompiler.exe.config
InTravels.WebAPI/bin/ru/Localization.resources.dll
InTravels.WebAPI/bin/System.Net.Http.Formatting.dll
InTravels.WebAPI/bin/System.Net.Http.Formatting.xml
InTravels.WebAPI/bin/System.Web.Cors.dll
InTravels.WebAPI/bin/System.Web.Helpers.dll
InTravels.WebAPI/bin/System.Web.Helpers.xml
InTravels.WebAPI/bin/System.Web.Http.Cors.dll
InTravels.WebAPI/bin/System.Web.Http.Cors.xml
InTravels.WebAPI/bin/System.Web.Http.dll
InTravels.WebAPI/bin/System.Web.Http.Owin.dll
InTravels.WebAPI/bin/System.Web.Http.Owin.xml
InTravels.WebAPI/bin/System.Web.Http.WebHost.dll
InTravels.WebAPI/bin/System.Web.Http.WebHost.xml
InTravels.WebAPI/bin/System.Web.Http.xml
InTravels.WebAPI/bin/System.Web.Mvc.dll
InTravels.WebAPI/bin/System.Web.Mvc.xml
InTravels.WebAPI/bin/System.Web.Optimization.dll
InTravels.WebAPI/bin/System.Web.Optimization.xml
InTravels.WebAPI/bin/System.Web.Razor.dll
InTravels.WebAPI/bin/System.Web.Razor.xml
InTravels.WebAPI/bin/System.Web.WebPages.Deployment.dll
InTravels.WebAPI/bin/System.Web.WebPages.Deployment.xml
InTravels.WebAPI/bin/System.Web.WebPages.dll
InTravels.WebAPI/bin/System.Web.WebPages.Razor.dll
InTravels.WebAPI/bin/System.Web.WebPages.Razor.xml
InTravels.WebAPI/bin/System.Web.WebPages.xml
InTravels.WebAPI/bin/uk-UA/Localization.resources.dll
InTravels.WebAPI/bin/WebActivatorEx.dll
InTravels.WebAPI/bin/WebGrease.dll
InTravels.WebAPI/bin/XmlDocument.xml
InTravels.WebAPI/obj/Debug/InTravels.WebAPI.csproj.FileListAbsolute.txt
InTravels.WebAPI/obj/Debug/InTravels.WebAPI.csprojResolveAssemblyReference.cache
InTravels.WebAPI/obj/Debug/InTravels.WebAPI.dll
InTravels.WebAPI/obj/Debug/InTravels.WebAPI.pdb
Localization/bin/Debug/Localization.Designer.cs
Localization/bin/Debug/Localization.dll
Localization/bin/Debug/Localization.pdb
Localization/bin/Debug/Localization.resx
Localization/bin/Debug/Localization.ru.Designer.cs
Localization/bin/Debug/Localization.ru.resx
Localization/bin/Debug/Localization.uk-UA.Designer.cs
Localization/bin/Debug/Localization.uk-UA.resx
Localization/bin/Debug/ru/Localization.resources.dll
Localization/bin/Debug/uk-UA/Localization.resources.dll
Localization/obj/Debug/Localization.csproj.FileListAbsolute.txt
Localization/obj/Debug/Localization.csproj.GenerateResource.Cache
Localization/obj/Debug/Localization.dll
Localization/obj/Debug/Localization.Localization.resources
Localization/obj/Debug/Localization.Localization.ru.resources
Localization/obj/Debug/Localization.Localization.uk-UA.resources
Localization/obj/Debug/Localization.pdb
Localization/obj/Debug/ru/Localization.resources.dll
Localization/obj/Debug/uk-UA/Localization.resources.dll
InTravels.BLL/bin/Release/InTravels.BLL.dll
InTravels.BLL/bin/Release/InTravels.BLL.pdb
InTravels.BLL/obj/Release/InTravels.BLL.dll
InTravels.BLL/obj/Release/InTravels.BLL.pdb
InTravels.BLL/bin/Release/InTravels.BLL.dll
InTravels.BLL/bin/Release/InTravels.BLL.pdb
InTravels.BLL/obj/Release/InTravels.BLL.dll
InTravels.BLL/obj/Release/InTravels.BLL.pdb
Ang2/out/chrome/*.*
Ang2/out/chrome/
InTravels.WebApi/bin/Localization.uk.resx
InTravels.WebApi/bin/uk/Localization.resources.dll
Localization/bin/Debug/Localization.uk.resx
Localization/bin/Debug/uk/Localization.resources.dll
Localization/obj/Debug/Localization.Localization.uk.resources
Localization/obj/Debug/uk/Localization.resources.dll
.vs/InTravels/v14/.suo
