<div class="card hovercard">
    <div class="cardheader">

    </div>
    <div class="avatar">
        <img alt="" src="http://lorempixel.com/100/100/people/10/">
    </div>
    <div class="info">
        <div class="title">
            <a [routerLink]="['/home/profile']">User Name</a>
        </div>
        <div class="desc">Description 1</div>
        <div class="desc">Description 2</div>
        <div class="desc">Description 3</div>
    </div>
    <div class="bottom">
        <a class="btn btn-primary btn-twitter btn-sm" href="#">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="btn btn-danger btn-sm" rel="publisher" href="#">
            <i class="fa fa-google-plus"></i>
        </a>
        <a class="btn btn-primary btn-sm" rel="publisher" href="#">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-warning btn-sm" rel="publisher" href="#">
            <i class="fa fa-behance"></i>
        </a>
    </div>
</div>