<div class="startpage">
	<video id="start-video" onclick="this.paused ? this.play() : this.pause();" autoplay="" loop="" muted="" poster="content/images/TravelAdventure.png">
		<source src="content/video/TravelAdventure.mp4#t=3.24" type="video/mp4"> Your browser does not support the video tag. I suggest you upgrade your browser.
	</video>

	<div class="text-center sitedoor">
		<h1>In Travels</h1>
		<button (click)="gotoHome()" class="btn btn-xl btn-primary">Go to the site!</button>
        <h1>Anywhere, anytime</h1>
	</div>
</div>