<div class="startpage">
	<video #video id="start-video" autoplay="" loop="" mute="" poster="content/images/TravelAdventure.png">
		<source src="content/video/TravelAdventure.mp4#t=3.24" type="video/mp4">
	</video>

	<div class="text-center sitedoor">

		<h1>{{ 'SiteTitle' | translate:lang }}</h1>

		<button (click)="gotoHome()" class="btn btn-xl btn-primary">{{ 'StartPage_GoToTheSite_Button' | translate:lang}}</button>
		
		<h1>{{ 'StartPage_Tagline_Text' | translate:lang }}</h1>
		
		<button class="btn btn-md btn-primary" *ngIf="played"><span (click)="playStopVideo(video)" class="glyphicon glyphicon-pause"></span></button>
		<button class="btn btn-md btn-primary" *ngIf="!played"><span (click)="playStopVideo(video)" class="glyphicon glyphicon-play"></span></button>
		<button class="btn btn-md btn-primary" *ngIf="video.volume == 1"><span (click)="videoVolume(video)" class="text-right glyphicon glyphicon-volume-up"></span></button>
		<button class="btn btn-md btn-primary" *ngIf="video.volume == 0"><span (click)="videoVolume(video)" class="text-right glyphicon glyphicon-volume-off"></span></button>
	</div>
</div>