<nav class="navbar navbar-inverse navbar-fixed-top">
  <header></header>
</nav>

<jumbotron></jumbotron>

<div class="container text-center" style="width: initial; padding:0px 45px;">
  <div class="row">
    <!-- left-side -->
    <div class="col-sm-2 well">
      <leftbar></leftbar>
    </div>
    <!-- center -->
    <div class="col-sm-8">
      <container></container>
    </div>
    <!-- right-side bar -->
    <div class="col-sm-2 well">
      <rightbar></rightbar>
    </div>
  </div>
</div>
<mainfooter></mainfooter>