<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
		<a class="navbar-brand" [routerLink]="['/start']">{{ 'SiteTitle' | translate:lang }}</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a [routerLink]="['/home']">{{ 'Menu_Home_Link' | translate:lang  }}</a></li>
			<li><a [routerLink]="['/home/posts']">{{ 'Menu_Posts_Link' | translate:lang  }}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a (click)="ChangeCulture('en','US')">EN</a></li>
			<li><a (click)="ChangeCulture('uk','UA')">UA</a></li>
			<li><a (click)="ChangeCulture('ru','RU')">RU</a></li>
		</ul>
		<loginform #loginFormModal></loginform>
		<ul class="nav navbar-nav navbar-right">
			<li *ngIf="!isAutenticate()"><a (click)="openLoginForm()">{{ 'LoginForm_Title' | translate:lang  }}</a></li>
			<li *ngIf="isAutenticate()">
				<a [routerLink]="['/home/profile']"><span class="glyphicon glyphicon-user"></span>{{ 'Menu_MyAccount_Link' | translate:lang  }}</a>
			</li>
			<li *ngIf="isAutenticate()"><a (click)="logout()">{{ 'Menu_LogOff_Link' | translate:lang  }}</a></li>
		</ul>
	</div>
</div>