<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" #loginformModal>
	<form name="form" #f="ngForm" novalidate>
		<modal-header [show-close]="true">
			<h4>
				<span class="glyphicon glyphicon-"></span> {{ 'LoginForm_Title' | translate : lang }}
			</h4>
			<ul class="nav nav-tabs row">
				<li class="col-md-6" [ngClass]="{active: model.isRegisterMode}">
					<a (click)="changeTab()">
					{{ 'LoginForm_RegisterTitle' | translate : lang }}
					</a>
				</li>
				<li class="col-md-6" [ngClass]="{active: model.isLoginMode}">
					<a (click)="changeTab()">
					{{ 'LoginForm_LoginTitle' | translate : lang }} 
					</a>
				</li>
			</ul>
		</modal-header>
		<modal-body *ngIf="model.isLoginMode">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i *ngIf="username.valid" class="glyphicon glyphicon-ok"></i>
						<i *ngIf="!username.valid" class="glyphicon glyphicon-remove"></i>
					</span>
					<input type="text" class="form-control" name="username" placeholder="{{ 'LoginForm_Email_Placeholder' | translate : lang }}"
						[(ngModel)]="model.username" #username="ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
				</div>
				<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i *ngIf="password.valid" class="glyphicon glyphicon-ok"></i>
						<i *ngIf="!password.valid" class="glyphicon glyphicon-remove"></i>
					</span>
					<input type="password" class="form-control" name="password" placeholder="{{ 'LoginForm_Password_Placeholder' | translate : lang }}"
						[(ngModel)]="model.password" #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$"
					/>
				</div>
				<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
			<div class="help-block">
				<ul>{{ 'LoginForm_Password_Description' | translate : lang }}
					<li>{{ 'LoginForm_Password_Description_1' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_2' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_3' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_4' | translate : lang }}</li>	
				</ul>
			</div>
			</div>
			<div *ngIf="model.errors" class="alert alert-danger">{{model.errors}}</div>
		</modal-body>
		<modal-footer *ngIf="model.isLoginMode">
			<img *ngIf="model.isDataLoading" style="max-height:30px;" src="content/images/loader.gif" />
			<button (click)="login()" [disabled]="model.isDataLoading || !f.form.valid" class="btn btn-md btn-info btn-block">
				{{ 'LoginForm_Login_Button' | translate : lang }}
			</button>
		</modal-footer>
		<modal-body *ngIf="model.isRegisterMode">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i *ngIf="regFirstName.valid" class="glyphicon glyphicon-ok"></i>
								<i *ngIf="!regFirstName.valid" class="glyphicon glyphicon-remove"></i>
							</span>
							<input type="text" name="regFirstName" class="form-control input" placeholder="{{ 'LoginForm_FirstName_Placeholder' | translate : lang }}"
								[(ngModel)]="model.regFirstName" #regFirstName="ngModel" />
						</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i *ngIf="regLastName.valid" class="glyphicon glyphicon-ok"></i>
								<i *ngIf="!regLastName.valid" class="glyphicon glyphicon-remove"></i>
							</span>
							<input type="text" name="regLastName" class="form-control input" placeholder="{{ 'LoginForm_LastName_Placeholder' | translate : lang }}"
								[(ngModel)]="model.regLastName" #regLastName="ngModel" />
						</div>
					</div>
					<div class="input-group">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<i *ngIf="regLogin.valid" class="glyphicon glyphicon-ok"></i>
						<i *ngIf="!regLogin.valid" class="glyphicon glyphicon-remove"></i>
					</span>
					<input type="text" class="form-control" name="regLogin" placeholder="{{ 'LoginForm_Email_Placeholder' | translate : lang }}"
						[(ngModel)]="model.regLogin" #regLogin="ngModel" required pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" />
				</div>
				<div *ngIf="f.submitted && !regLogin.valid" class="help-block">Username is required</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i *ngIf="regPassword.valid" class="glyphicon glyphicon-ok"></i>
								<i *ngIf="!regPassword.valid" class="glyphicon glyphicon-remove"></i>
							</span>
							<input type="password" class="form-control" name="regPassword" placeholder="{{ 'LoginForm_Password_Placeholder' | translate : lang }}"
								[(ngModel)]="model.regPassword" #regPassword="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$"
							/>
						</div>
						<div *ngIf="f.submitted && !regPassword.valid" class="help-block">Password is required</div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">
								<i *ngIf="regConfirmPassword.valid" class="glyphicon glyphicon-ok"></i>
								<i *ngIf="!regConfirmPassword.valid" class="glyphicon glyphicon-remove"></i>
							</span>
							<input type="password" class="form-control" name="regConfirmPassword" placeholder="{{ 'LoginForm_ConfirmPassword_Placeholder' | translate : lang }}"
								[(ngModel)]="model.regConfirmPassword" #regConfirmPassword="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,15}$"
							/>
						</div>
						<div *ngIf="f.submitted && !regConfirmPassword.valid" class="help-block">Confirm password is required</div>
					</div>
				</div>
			</div>
			<div class="help-block">
				<ul>{{ 'LoginForm_Password_Description' | translate : lang }}
					<li>{{ 'LoginForm_Password_Description_1' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_2' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_3' | translate : lang }}</li>	
					<li>{{ 'LoginForm_Password_Description_4' | translate : lang }}</li>	
				</ul>
			</div>
			<div *ngIf="error" class="alert alert-danger">{{model.regErrors}}</div>
		</modal-body>
		<modal-footer *ngIf="model.isRegisterMode">
			<div class="form-group">
				<img *ngIf="model.isDataLoading" style="max-height:30px;" src="content/images/loader.gif" />
				<button (click)="register()" [disabled]="model.isDataLoading || !f.form.valid" class="btn btn-md btn-info btn-block">
						{{ 'LoginForm_Register_Button' | translate : lang }}
				</button>
			</div>
		</modal-footer>
	</form>
</modal>