@using InTravels.Models
@model IEnumerable<PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Welcome to "InTravels"&copy; website!</p>
</div>

<h2>Post's list:</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
            <p>
                @Html.DisplayFor(modelItem => item.Text)
            </p>
        </div>
    </div>
}

<div class="col-md">
    @Html.Partial("_CreateNewPostView", new PostViewModel())
</div>