<div class="row">
  <h4>
    {{ comment.UserName }} wrote on {{ comment.PublishDate }}
  </h4>
</div>
<div class="row">
  <div class="col-sm-2" style="padding-right:0px">
    <div class="well">
      <img src="{{ comment.Image }}" class="img-circle" height="55" width="55" alt="Avatar">
    </div>
  </div>
  <div class="col-sm-10 text-left">
    <div class="well">
      <p>{{ comment.Text }}</p>
      <p>
        <!-- TODO: add tags to comment
          <span style="cursor: pointer; margin-right: 5px;" class="label label-primary" *ngFor="let tag of post.Tags">
            {{ tag }}
          </span> -->
      </p>
    </div>
  </div>
</div>
<br/>