<div class="jumbotron">
  <video id="bg-video" onclick="this.paused ? this.play() : this.pause();" autoplay="true" loop="" muted="muted" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg">
    <source src="content/video/TravelAdventure.mp4" type="video/mp4"> Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>

  <div class="center jumbovidtext text-center">
    <h1 class="txtjumbo">In Travels</h1>
    <p class="txtjumbo">Mission, Vission & Values</p>
  </div>

</div>